<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
     http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<context:component-scan base-package="br.com.markI" />
	<!-- 
	<context:property-placeholder location="classpath:nds-client.properties" />
			
	<util:properties id="properties" location="classpath:nds-client.properties" />	
		
	<util:properties id="queries" location="classpath:/query.properties" /> -->
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
		
	<!-- <bean class="com.ancientprogramming.fixedformat4j.format.impl.FixedFormatManagerImpl"/> -->

	<!-- TOMCAT -->
	<!-- <jee:jndi-lookup id="dataSource" jndi-name="${jndi-name}"/>
	
	<jee:jndi-lookup  id="couchDbProperties" jndi-name="java:comp/env/couchDbProperties" />
 -->
	<task:annotation-driven />

 <!-- <context:property-placeholder location="classpath:db.properties"/> -->
 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
	    <property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost:3306/marki"/>
	    <property name="username" value="root"/>
	    <property name="password" value="root"/> 
    </bean>
    
    
    <!-- 
    
    driverClassName=org.postgresql.Driver 
url=jdbc:postgresql://localhost:5432/cloud-clinics
username=postgres
password=root
     
  </bean>
  -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="br.com.markI.model" />
		
		
		<property name="hibernateProperties">
			<props>			
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">100</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				
				<!-- CONNECTION -->
				
				<prop key="hibernate.connection.characterEncoding">UTF-8</prop>
				<prop key="hibernate.connection.zeroDateTimeBehavior">convertToNull</prop>
				
				<!-- CACHE -->
				
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>

				<!-- c3p0 -->
				
				<prop key="hibernate.c3p0.max_size">10</prop>
			    <prop key="hibernate.c3p0.min_size">2</prop>
			    <prop key="hibernate.c3p0.timeout">30000</prop>
			    <prop key="hibernate.c3p0.max_statements">100</prop>
			    <prop key="hibernate.c3p0.maxStatementsPerConnection">5</prop>
			    <prop key="hibernate.c3p0.idle_test_period">1500</prop>
			    <prop key="hibernate.c3p0.acquire_increment">2</prop>
			    <prop key="hibernate.c3p0.testConnectionOnCheckout">true</prop>
			    <prop key="hibernate.c3p0.preferredTestQuery">SELECT 1</prop>
			</props>
		</property>
		
		</bean>
	
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="transactionManager" /> 

</beans>